<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javayh.conf.mapper.LogisticsMapper">

	<select id="findListLog" resultType="com.javayh.conf.vo.LogisticsVO" parameterType="com.javayh.conf.dto.LogisticsInfoSerchDTO">
		SELECT
			id,
			addressee_name as addresseeName,
			addressee,
			addressee_phone as addresseePhone,
			sender_name as senderName,
			sender_add as senderAdd,
			if(ems_status=0,'未发货','已发货') as emsStatus,
			if(retreat_status=0,'否','是') as retreatStatus,
			retreat_info retreatInfo,
			create_date as  createDate,
			update_date as updateDate,
			create_by createBy
		FROM
			sys_logistics
		where 1=1
		<if test="addresseeName != '' and addresseeName !=null">
			and addressee_name like concat('%',#{addresseeName} ,'%')
		</if>
		<if test="senderName != '' and senderName !=null">
			and sender_name like concat('%', #{senderName} ,'%')
		</if>
		<if test="emsStatus != '' and emsStatus !=null">
			and ems_status like concat('%', #{emsStatus} ,'%')
		</if>
		<if test="retreatStatus != '' and retreatStatus !=null">
			and retreat_status like concat('%', #{retreatStatus} ,'%')
		</if>
	</select>

</mapper>